.NavButton {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;

  cursor: pointer;

  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: var(--pink);
}

.NavButton:hover {
  border-bottom: 0.2rem;
  border-style: solid;
  border-color: var(--pink);
}

.NavButton-active {
  border-bottom: 0.2rem;
  border-style: solid;
  border-color: var(--pink);
}
