.custom-row {
    margin-left: 0;
}

.padding-left-right {
    padding-left: 2rem;
    padding-right: 2rem;
}

.padding-top-bottom {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.background-image { 
    background-image: url("../img/ivana-cajina-dQejX2ucPBs-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
