@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Short+Stack&display=swap");

:root {
  --pink: #8c4766;
  --yellow: #d7e04f;
  --dark-green: #3b4b00;
  --light-green: #5f8f29;
  --pale-blue: #ecf5fa;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-title {
  font-size: 2.4rem;
  padding-top: 1.6rem;
}

h1,
h2,
h3 {
  font-family: "Short Stack", cursive;
  text-align: center;
  padding: 2rem 0 0.4em;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.ul-padding {
  padding-inline-start: 0;
}

.font-base {
  font-size: 1.2rem;
}

p {
  padding: 1rem 0 1rem 1rem;
}

.text-content-width-med {
  width: 60%;
}

.text-content-width-narrow {
  width: 40%;
}

.image-circle {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
}

.skills-list {
  padding-left: 10rem;
}

footer {
  padding: 1rem;
}

.icon-style {
  font-size: 3rem;
  color: var(--pink);
}

.icon-style a:hover {
  color: var(--yellow);
}

.icon-style a:active {
  color: var(--yellow);
}

.icon-padding {
  margin: 1rem;
}

/* portfolio cards */
.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--pale-blue);
  padding: 1rem 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 0.6rem;
  width: 400px;
  margin: auto;
  margin: 1rem;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
}

.card-image {
  border-radius: 0.6rem 0.6rem 0 0;
  width: 100%;
}

.external-link {
  color: var(--pink);
  font-size: 1.2rem;
}

.external-link a:hover {
  color: var(--light-green);
  font-weight: 500;
}

.external-link a:active {
  color: var(--light-green);
  font-weight: 500;
}

.card-icon {
  padding-top: 0.6rem;
  font-size: 2.4rem;
  color: var(--pink);
}

.card-icon a:hover {
  color: var(--yellow);
  font-size: 2.5rem;
}

.card-icon a:active {
  color: var(--yellow);
  font-size: 2.5rem;
}

/* form */
.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--pale-blue);
  padding: 2rem 0;
}

.form-container {
  width: 100%;
  background: #fff;
  padding: 2rem;
  max-width: 450px;
  border-radius: 1rem;
  box-shadow: rgba(3, 3, 3, 0.1) 1rem 0 3rem;
}

.form-container__details {
  margin-bottom: 1rem;
  text-align: center;
}

.form-container__title {
  font-size: 2rem;
  color: var(--dark-green);
  margin-bottom: 1rem;
}

.form__field {
  margin-bottom: 2rem;
}

.form__input {
  width: 100%;
  padding: 2rem 1rem;
  border: 0;
  background: rgba(215,224,79,0.2);
  border-radius: 0.6rem;
  font-size: 1rem;
  color: #555;
  font-weight: 500;
}

.form__submit {
  background: var(--dark-green);
  color: #fff;
  font-weight: 500;
  width: 100%;
  border-radius: 0.6rem;
  cursor: pointer;
  padding: 1rem;
  border: 0;
  transition: all 0.8s;
  font-size: 1.4rem;
}

.form__submit:hover {
  background: var(--light-green);
  border-color: var(--yellow);
}

.form__submit:active {
  background: var(--light-green);
  border-color: var(--yellow);
}

.message-text {
  padding-top: 2.4rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.error-text {
  color: var(--pink);
}

.success-text {
  color: var(--light-green);
}

/* media queries */
@media (max-width: 992px) {
  .text-content-width-narrow {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .header-title {
    font-size: 2.2rem;
  }

  .text-content-width-med {
    width: 80%;
  }

  .skills-list {
    padding-left: 2rem;
  }

  .card {
    width: 80%;
  }

  .form-container {
    padding: 30px 25px;
    width: 90%;
  }
  .form__input,
  .form__submit {
    padding: 18px 15px;
  }
}
